language: php

php:
  - 5.6
  - 7

matrix:
  fast_finish: true

sudo: false

services:
  - mongodb
  - mysql

addons:
  apt:
    sources:
    - mongodb-3.0-precise
    packages:
    - mongodb-org-server

before_script:
  - pecl install mongodb
  - mysql -e 'create database unittest;'
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - sh -c 'php vendor/bin/coveralls -v'
