version: '3'

services:
    tests:
        container_name: tests
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/code
        working_dir: /code
        depends_on:
          - mongodb
          - mysql
          - mongo1
          - mongo2
          - mongo3
        stdin_open: true
        tty: true

    mysql:
        container_name: mysql
        image: mysql:5.7
        environment:
            MYSQL_ROOT_PASSWORD:
            MYSQL_DATABASE: unittest
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        logging:
            driver: none

    mongodb:
        container_name: mongodb
        image: mongo
        ports:
            - 27017:27017
        logging:
            driver: none

    mongo1:
        hostname: mongo1
        container_name: mongo1
        image: mongo
        restart: always
        expose:
            - 27017
        ports:
            - 27018:27017
        command: '--quiet --bind_ip_all --replSet rs0'

    mongo2:
        hostname: mongo2
        container_name: mongo2
        image: mongo
        restart: always
        expose:
            - 27017
        ports:
            - 27019:27017
        command: '--quiet --bind_ip_all --replSet rs0'

    mongo3:
        hostname: mongo3
        container_name: mongo3
        image: mongo
        restart: always
        expose:
            - 27017
        ports:
            - 27020:27017
        command: '--quiet --bind_ip_all --replSet rs0'

    mongoreplret:
        build:
            context: .
            dockerfile: MongoReplsetDockerFile
        depends_on:
            - mongo1
            - mongo2
            - mongo3
        entrypoint: ["sh", "-c", "mongo-replset-init.sh"]
