parameters:
    tmpDir: .cache/phpstan

    paths:
        - src

    level: 1

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Call to an undefined method [a-zA-Z0-9\\_\<\>]+::[a-zA-Z]+\(\)#'
