parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$value on left side of \\?\\? always exists and is always null\\.$#"
			count: 1
			path: src/Eloquent/Model.php

		-
			message: "#^Variable \\$value on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Eloquent/Model.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:pull\\(\\)\\.$#"
			count: 1
			path: src/Relations/BelongsToMany.php

		-
			message: "#^Cannot call method modelKeys\\(\\) on array\\|Illuminate\\\\Support\\\\Collection\\.$#"
			count: 1
			path: src/Relations/BelongsToMany.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:push\\(\\) invoked with 3 parameters, 0 required\\.$#"
			count: 3
			path: src/Relations/BelongsToMany.php

		-
			message: "#^Method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:create\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/Schema/Builder.php
