<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
        </testsuite>
        <testsuite name="schema">
            <file>tests/SchemaTest.php</file>
        </testsuite>
        <testsuite name="seeder">
            <file>tests/SeederTest.php</file>
        </testsuite>
        <testsuite name="builder">
            <file>tests/QueryBuilderTest.php</file>
            <file>tests/QueryTest.php</file>
        </testsuite>
        <testsuite name="transaction">
            <file>tests/TransactionBuilderTest.php</file>
            <file>tests/TransactionTest.php</file>
        </testsuite>
        <testsuite name="model">
            <file>tests/ModelTest.php</file>
            <file>tests/RelationsTest.php</file>
        </testsuite>
        <testsuite name="relations">
            <file>tests/RelationsTest.php</file>
            <file>tests/EmbeddedRelationsTest.php</file>
        </testsuite>
        <testsuite name="mysqlrelations">
            <file>tests/RelationsTest.php</file>
        </testsuite>
        <testsuite name="validation">
            <file>tests/ValidationTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <env name="MONGO_HOST" value="mongodb"/>
        <env name="MONGO_REPL_HOST" value="mongodb_repl"/>
        <env name="MONGO_DATABASE" value="unittest"/>
        <env name="MONGO_PORT" value="27017"/>
        <env name="MYSQL_HOST" value="mysql"/>
        <env name="MYSQL_PORT" value="3306"/>
        <env name="MYSQL_DATABASE" value="unittest"/>
        <env name="MYSQL_USERNAME" value="root"/>
        <env name="QUEUE_CONNECTION" value="database"/>
    </php>
</phpunit>
