<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".cache/phpunit"
         executionOrder="depends,defects"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MONGODB_URI" value="mongodb://mongodb/"/>
        <env name="MONGODB_DATABASE" value="unittest"/>
        <env name="SQLITE_DATABASE" value=":memory:"/>
        <env name="QUEUE_CONNECTION" value="database"/>
        <ini name="xdebug.mode" value="coverage"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <source restrictDeprecations="true"
        restrictNotices="true"
        restrictWarnings="true">
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
