/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

 html
  scroll-behavior: smooth;

.home .hero img
  max-width 450px!important

h3
  font-size: 1.2rem;

// li li .active{
//   border: 1px solid gray;
// }
