/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.sidebar > .sidebar-links > li
  padding: 0!important
.sidebar > .sidebar-links > li > a.sidebar-link
  font-size: 1.09em!important
  line-height: 1!important
  font-weight: bold
.sidebar-group.collapsable > span
  color: #eee!important

ul > li > section > span
  color: #eee!important
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 0.7!important;
    font-weight: 700;
}

// .sidebar-group.is-sub-group > .sidebar-heading.open {
//     color: $accentColor!important;
// }

.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link.active, li > .sidebar-link.active {
  text-decoration: underline;  
}