/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.sidebar > .sidebar-links > li
  padding: 0!important
.sidebar > .sidebar-links > li > a.sidebar-link
  font-size: 1.09em!important
  line-height: 1!important
  font-weight: bold
.sidebar-group.collapsable > span
  color: #eee!important

ul > li > section > span
  color: #eee!important